.meerkat-table-wrapper .panel {
  box-shadow: none;
  margin-bottom: 0;
  border-radius: 0;
}

.meerkat-table-wrapper .panel-footer {
  background: transparent;
  padding: 5px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

table.meerkat-comments-table .markdown-fieldtype {
  margin-bottom: 10px;
  background: white;
}

table.meerkat-comments-table .column-actions {
  text-align: initial;
  width: initial;
  font-weight: 100;
}

table.meerkat-comments-table .comment-header-options {
  float: right;
  display: inline-block;
}

table.meerkat-comments-table td {
  vertical-align: top;
}

table.meerkat-comments-table td.cell-datestamp {
  max-width: 200px;
}

table.meerkat-comments-table td.cell-name {
  max-width: 300px;
  width: 300px;
  word-break: break-all;
}

table.meerkat-comments-table td.cell-context {
  max-width: 300px;
  word-wrap: break-word;
}

table.meerkat-comments-table [data-meerkat-comment="response"] {
  margin-bottom: 10px;
  font-weight: 500;
}

table.meerkat-comments-table tr:not(:last-child) {
  border-top: 1px solid #e0e0e0 !important;
  border-bottom: none !important;
}

table.meerkat-comments-table tr[data-meerkat-comment-published="false"] {
  border-left: 5px solid #e67e22;
}

table.meerkat-comments-table tr[data-meerkat-comment-spam="true"] {
  border-left: 5px solid #c0392b;
}

table.meerkat-comments-table tr[data-meerkat-type="comment"] {
  font-weight: 100;
}

table.meerkat-comments-table tr[data-meerkat-type="comment"] a {
  font-size: 14px;
}

table.meerkat-comments-table tr[data-meerkat-type="comment"] [data-meerkat-has="actions"] {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

table.meerkat-comments-table tr[data-meerkat-type="comment"]:hover [data-meerkat-has="actions"] {
  opacity: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
  table.meerkat-comments-table .comment-header-options {
    float: left;
  }
  table.meerkat-comments-table td.cell-name {
    float: left;
    display: inline-block;
  }
  table.meerkat-comments-table td.cell-comment {
    float: left;
    display: inline-block;
  }
  table.meerkat-comments-table tr[data-meerkat-type="comment"] [data-meerkat-has="actions"] {
    opacity: 1 !important;
  }
  [data-meerkat-publisher="tab-navigation"] {
    margin-top: 10px;
  }
  .meerkat-pagination-wrapper {
    border-top: none !important;
  }
}

@media (max-width: 767px) {
  table.meerkat-comments-table .comment-header-options {
    float: left;
  }
  table.meerkat-comments-table td.cell-name {
    float: left;
    display: inline-block;
  }
  table.meerkat-comments-table td.cell-comment {
    float: left;
    display: inline-block;
  }
  table.meerkat-comments-table tr[data-meerkat-type="comment"] [data-meerkat-has="actions"] {
    opacity: 1 !important;
  }
  [data-meerkat-publisher="tab-navigation"] {
    margin-top: 10px;
  }
  .meerkat-pagination-wrapper {
    border-top: none !important;
  }
}

.meerkat-mobile-table {
  margin-top: 20px;
}

.meerkat-paginate > li {
  display: inline;
}

.meerkat-paginate .btn-link {
  color: black;
  font-weight: 100;
}

.meerkat-paginate .btn-link.active {
  font-weight: 400;
  border-bottom: 1px solid black;
}

.meerkat-pagination li {
  display: inline;
}

.meerkat-pagination-wrapper {
  text-align: center;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}

.meerkat-pagination-wrapper .pagination {
  width: initial !important;
}

.meerkat-pagination-wrapper .meerkat-paginatiion {
  width: initial !important;
  border-top: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .meerkat-pagination-wrapper {
    border-top: none !important;
  }
}

@media (max-width: 767px) {
  .meerkat-pagination-wrapper {
    border-top: none !important;
  }
}

.meerkat-avatar-initials {
  width: 64px !important;
  height: 64px !important;
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.meerkat-avatar-initials .initials {
  position: relative;
  text-align: center;
  font-size: 35px;
  line-height: 64px;
  color: #fff;
  font-weight: bold;
}

.meerkat-avatar-initials.meerkat-avatar-initial-a {
  background-color: #1abc9c;
}

.meerkat-avatar-initials.meerkat-avatar-initial-a .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-b {
  background-color: #f1c40f;
}

.meerkat-avatar-initials.meerkat-avatar-initial-b .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-c {
  background-color: #16a085;
}

.meerkat-avatar-initials.meerkat-avatar-initial-c .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-d {
  background-color: #e74c3c;
}

.meerkat-avatar-initials.meerkat-avatar-initial-d .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-e {
  background-color: #2980b9;
}

.meerkat-avatar-initials.meerkat-avatar-initial-e .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-f {
  background-color: #2c3e50;
}

.meerkat-avatar-initials.meerkat-avatar-initial-f .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-g {
  background-color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-g .initials {
  color: #2c3e50;
}

.meerkat-avatar-initials.meerkat-avatar-initial-h {
  background-color: #e67e22;
}

.meerkat-avatar-initials.meerkat-avatar-initial-h .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-i {
  background-color: #e74c3c;
}

.meerkat-avatar-initials.meerkat-avatar-initial-i .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-j {
  background-color: #27ae60;
}

.meerkat-avatar-initials.meerkat-avatar-initial-j .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-k {
  background-color: #e67e22;
}

.meerkat-avatar-initials.meerkat-avatar-initial-k .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-l {
  background-color: #9b59b6;
}

.meerkat-avatar-initials.meerkat-avatar-initial-l .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-m {
  background-color: #16a085;
}

.meerkat-avatar-initials.meerkat-avatar-initial-m .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-n {
  background-color: #8e44ad;
}

.meerkat-avatar-initials.meerkat-avatar-initial-n .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-o {
  background-color: #e74c3c;
}

.meerkat-avatar-initials.meerkat-avatar-initial-o .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-p {
  background-color: #f39c12;
}

.meerkat-avatar-initials.meerkat-avatar-initial-p .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-q {
  background-color: #e74c3c;
}

.meerkat-avatar-initials.meerkat-avatar-initial-q .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-r {
  background-color: #2ecc71;
}

.meerkat-avatar-initials.meerkat-avatar-initial-r .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-s {
  background-color: #3498db;
}

.meerkat-avatar-initials.meerkat-avatar-initial-s .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-t {
  background-color: #34495e;
}

.meerkat-avatar-initials.meerkat-avatar-initial-t .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-u {
  background-color: #2c3e50;
}

.meerkat-avatar-initials.meerkat-avatar-initial-u .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-v {
  background-color: #16a085;
}

.meerkat-avatar-initials.meerkat-avatar-initial-v .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-w {
  background-color: #9b59b6;
}

.meerkat-avatar-initials.meerkat-avatar-initial-w .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-x {
  background-color: #3498db;
}

.meerkat-avatar-initials.meerkat-avatar-initial-x .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-y {
  background-color: #e74c3c;
}

.meerkat-avatar-initials.meerkat-avatar-initial-y .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-z {
  background-color: #e67e22;
}

.meerkat-avatar-initials.meerkat-avatar-initial-z .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-0 {
  background-color: #27ae60;
}

.meerkat-avatar-initials.meerkat-avatar-initial-0 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-1 {
  background-color: #2c3e50;
}

.meerkat-avatar-initials.meerkat-avatar-initial-1 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-2 {
  background-color: #e67e22;
}

.meerkat-avatar-initials.meerkat-avatar-initial-2 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-3 {
  background-color: #2980b9;
}

.meerkat-avatar-initials.meerkat-avatar-initial-3 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-4 {
  background-color: #8e44ad;
}

.meerkat-avatar-initials.meerkat-avatar-initial-4 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-5 {
  background-color: #c0392b;
}

.meerkat-avatar-initials.meerkat-avatar-initial-5 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-6 {
  background-color: #34495e;
}

.meerkat-avatar-initials.meerkat-avatar-initial-6 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-7 {
  background-color: #e67e22;
}

.meerkat-avatar-initials.meerkat-avatar-initial-7 .initials {
  color: #ecf0f1;
}

.meerkat-avatar-initials.meerkat-avatar-initial-8 {
  background-color: #95a5a6;
}

.meerkat-avatar-initials.meerkat-avatar-initial-8 .initials {
  color: #34495e;
}

.meerkat-avatar-initials.meerkat-avatar-initial-9 {
  background-color: #d35400;
}

.meerkat-avatar-initials.meerkat-avatar-initial-9 .initials {
  color: #ecf0f1;
}

.meerkat-filter li > a {
  font-weight: 100;
}

.meerkat-filter li > a.active {
  font-weight: bold;
}

.meerkat-bulk-actions {
  opacity: 1;
  position: relative;
  width: auto;
  display: inline-block;
}

.meerkat-bulk-action-wrapper {
  margin-top: -5px;
  margin-bottom: 5px;
}

.meerkat-listing-card {
  min-height: 45px;
}

#meerkat-publisher-stream .card {
  box-shadow: none;
}

[data-meerkat-comment-published="false"] .meerkat-mobile-card-header {
  background: #fdf8da;
  border-color: #d6d6b9;
}

[data-meerkat-comment-spam="true"] .meerkat-mobile-card-header {
  background: rgba(195, 132, 132, 0.27);
  border-color: #ec6e6e;
}

.meerkat-mobile-card {
  padding-bottom: 0;
  margin-bottom: 0;
  background: #FFF;
  float: left;
  position: relative;
  border-radius: 4px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-bottom: 20px;
  border: 1px solid #e1e1e2;
  width: 100%;
}

.meerkat-mobile-card .meerkat-mobile-edit-actions {
  margin-top: 10px;
}

.meerkat-mobile-card .meerkat-mobile-card-reply-to {
  margin-bottom: 5px;
  color: black;
  opacity: 0.7;
  font-size: 12px;
}

.meerkat-mobile-card .meerkat-mobile-card-content {
  padding: 12px 16px 11px;
  font-size: 14px;
  line-height: 21px;
}

.meerkat-mobile-card .meerkat-mobile-card-actions li {
  float: left;
}

.meerkat-mobile-card .meerkat-mobile-card-actions li a span {
  font-size: 14px;
}

.meerkat-mobile-card .meerkat-mobile-card-footer {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.meerkat-mobile-card .meerkat-mobile-card-header {
  padding: 15px 15px 12px;
  border-bottom: 1px solid #e1e1e2;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.meerkat-mobile-card .meerkat-mobile-card-header.is-selected {
  background: #cce6ff;
  border-color: #cce6ff;
}

.meerkat-mobile-card .meerkat-mobile-card-header .meerkat-mobile-card-indicator {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  border: 1px solid #10b7c5;
}

.meerkat-mobile-card .meerkat-mobile-card-header .meerkat-mobile-card-indicator.checked {
  background-color: #14a5b2;
}

.meerkat-mobile-card .meerkat-mobile-card-header h5 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  line-height: 22.7px;
  font-family: arial;
  letter-spacing: -0.006em;
  margin-top: -3px;
}

.meerkat-mobile-card .meerkat-mobile-card-header h6 {
  font-size: 12px;
  margin: 0;
  font-family: arial;
  opacity: .45;
}

.meerkat-mobile-card .meerkat-mobile-card-header h6 a {
  color: #000;
}

.meerkat-mobile-card .meerkat-mobile-card-header .meerkat-mobile-card-avatar {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  height: 33px;
  width: 33px;
}

.meerkat-mobile-card .meerkat-mobile-card-header .meerkat-mobile-card-avatar .media-left img {
  width: 33px !important;
  height: 33px !important;
}

.meerkat-mobile-card .meerkat-mobile-card-header .meerkat-mobile-card-avatar .meerkat-avatar-initials {
  width: 100% !important;
  height: 100% !important;
}

.meerkat-mobile-card .meerkat-mobile-card-header .meerkat-mobile-card-avatar .meerkat-avatar-initials .initials {
  font-size: 16px;
  margin-left: 3px;
  overflow: hidden;
  line-height: 33px;
}

[data-meerkat-conversation-view="backdrop"] {
  z-index: 9997;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

[data-meerkat-conversation-view="conversation"] {
  border-radius: 3px;
  background: white;
  z-index: 9998;
  margin-top: 40px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
  max-height: 80%;
}

.meerkat-conversation-body {
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
}

.meerkat-overflow-hidden {
  overflow: hidden !important;
}

.meerkat-conversation-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.23);
  display: inline-block;
  width: 100%;
}

.meerkat-conversation-header span {
  margin-top: 15px;
  margin-right: 10px;
}

.meerkat-conversation-header h3 {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.meerkat-conversation-header .meerkat-bulk-action-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.meerkat-conversation-header .meerkat-pagination-wrapper {
  border-top: none;
}

.meerkat-conversation-intended-comment {
  box-shadow: 2px 2px 44px -12px #2980b9;
}

@media (max-width: 767px) {
  [data-meerkat-conversation-view="conversation"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 0 !important;
  }
  .meerkat-conversation-header {
    position: initial !important;
    top: 0;
    left: 0;
    height: 50px;
    right: 0;
    background: #fff;
    z-index: 9999;
  }
  .meerkat-conversation-body {
    position: relative;
    margin-top: 0px;
    overflow-y: scroll;
    height: 100%;
  }
  [data-meerkat-conversation-view="backdrop"] {
    background-color: #ffffff !important;
  }
}

/*# sourceMappingURL=meerkat.css.map */
